.nav__prev--button{
    display: flex;
}
.nav__next--button{
    display: flex;
    justify-content: flex-end;
}
.prev--button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    background-color: #F2F2F2;
    font-family: 'Formular-medium';
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    border: none;
    border-radius: 5px;
}
.prev--button:hover{
    text-decoration: none;
    color: #828282;
}
.next--button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    background-color: #FF5722;
    font-family: 'Formular-medium';
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.next--button:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.rooms__button__group{
    display: flex;
    justify-content: space-around;
}
.room--button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFAB91;
    border: 2px solid #FFAB91;
    box-sizing: border-box;
    font-family: 'Formular-medium';
    font-size: 14px;
    line-height: 17px;
    border-radius: 100px;
    min-width: 130px;
    height: 40px;
}
.room--button.done{
    background-color: #34C759;
    color: #FFFFFF;
    border: none;
}
.room--button.active{
    background-color: #FF5722;
    color: #FFFFFF;
    border: none;
}
.room--button:hover{
    text-decoration: none;
    color: #FFAB91;
}
.room--button.done:hover{
    text-decoration: none;
    color: rgb(235, 235, 235);
}

@media(max-width: 1199px){
    .room--button{
        margin-bottom:20px;
    }
}

@media(max-width: 767px){
    .rooms__button__group{
        justify-content: start;
    }
    .nav__prev--button{
        display: none;
    }
    /*.nav__next--button{*/
        /*display: none;*/
    /*}*/
    .rooms--button-group{
        margin-bottom: 20px;
        /* display: flex; */
    }
    .room--button{
        min-width: 100px;
    }
}
