.main{
    text-align: center;
}
.main__inner{
    padding-top: 30px;
}
.main__selectbox{
    position: relative;
    display: inline-block;
}
.main__selectbox::after{
    content: "";
    height: 9px;
    width: 9px;
    border-right: 2px solid #BDBDBD;
    border-bottom: 2px solid #BDBDBD;
    position: absolute;
    right: 40px;
    transform: rotate(45deg);
    top: 50px;
}
.main__select{
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 30px;
    height: 50px;
    color: #828282;
    font-family: 'Formular';
    border: none;
    padding: 0 30px;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
}
.main__select option{
    padding: 0 30px;
}

.main__rooms{
    font-family: 'Formular';
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    text-align: start;
}
.main__content{
    margin-top: 15px;
    display: flex;
    align-items: center;
}
.main__content--buttons{
    text-align: end;
}
.main__content--button{
    width: 55px;
    height: 50px;
    background-color: #F2F2F2;
    font-family: 'Formular';
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    border-radius: 3px;
    border: none;
}
.main__content--button:focus{
    outline: 0;
    outline: none;
}
.main__content--button.active{
    background-color: #FF5722;
    color: #FFFFFF;
}
.main__save--button{
    margin-top: 50px;
}
.main__save--button a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #FF5722;
    font-family: 'Formular-medium';
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.main__save--button a:hover{
    text-decoration: none;
    color:#FFFFFF
}

@media(max-width: 767px){
    .main__content--buttons{
        display: flex;
        justify-content: space-between;
    }
    .main__rooms{
        padding:30px 0 10px 0;
    }
}

