.rooms{
    padding-top:30px;
}
.rooms__message{
    height: 50px;
    width:100%;
    background-color:#FBE9E7;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.rooms__message h1{
    font-family: 'Formular';
    font-size: 16px;
    line-height: 20px;
    color: #BF360C;
}
.rooms__card-image{
    max-width: 445px;
    height: 350px;
    align-self: center;
}
.rooms__card-image img{
    width:100%;
    height: 100%;
    object-fit: cover;
}

.rooms--card{
    border:none;
}
.rooms--card img:hover{
    /* box-shadow: 0px 0px 15px 0px rgba(255,87,34,0.71); */
    border: 2px solid #FF5722;
}
.rooms--card.active img{
    box-shadow: 0px 0px 15px 0px rgba(255,87,34,0.71);
    border: 2px solid #FF5722;
}

@media (max-width:767px){
    .rooms__message{
        margin: 0 0 30px 0;
    }
}